<md-bottom-sheet class="md-list md-has-header">

    <md-subheader>
        Contact:
    </md-subheader>

    <md-list ng-show="vm.showList">
      <md-item ng-repeat="item in vm.items">
        <md-button ng-click="vm.performAction(item)">
            <md-icon md-svg-icon="{{ item.icon }}"></md-icon>
            {{item.name}}
        </md-button>
      </md-item>
    </md-list>

    <md-list ng-show="vm.showEmail" flex="40">
      <div class="emailContent">
        <md-input-container>
          <label>Email: Leave your email if you want me to get back to you :)</label>
          <input ng-model="vm.user.email" type="email">
        </md-input-container>
        <md-input-container>
          <label>Subject</label>
          <input ng-model="vm.user.title">
        </md-input-container>
        <md-input-container flex>
         <label>Content</label>
         <textarea ng-model="vm.user.biography" columns="1" md-maxlength="150"></textarea>
       </md-input-container>
       <md-button id="emCnt" class="md-raised md-primary" ng-click="vm.sendEmail()">Send</md-button>
     </div>
    </md-list>

</md-bottom-sheet>
