<div layout="row">
  <md-toolbar class="" layout="row">
    <md-button class="menu" hide-gt-sm ng-click="ul.toggleList()" aria-label="Show dataset List">
      <md-icon md-svg-icon="menu" ></md-icon>
    </md-button>
    <h1>Open Data</h1>
  </md-toolbar>
</div>

<div layout="row" id="contentRow" flex>
  <md-content id="content" flex>
    <br><br>
    <!--<md-icon md-svg-icon="{{ul.selected.avatar}}" class="avatar"></md-icon>-->
    <!--<h2 id="mainCntntH2">{{ul.selected.name}}</h2>-->


    <div flex>
      <md-card>
        <div layout="row" class="mainCntntChrts">
          <md-radio-group ng-model="data.group1">
            <md-radio-button ng-click="ul.setCurrentChart(ul.chartTypes[0].typeValue)" value="Line" class="md-primary">Line</md-radio-button>
            <md-radio-button ng-click="ul.setCurrentChart(ul.chartTypes[1].typeValue)"value="Bar">Bar</md-radio-button>
            <md-radio-button ng-click="ul.setCurrentChart(ul.chartTypes[2].typeValue)"value="Column">Column</md-radio-button>
            <md-radio-button ng-click="ul.setCurrentChart(ul.chartTypes[3].typeValue)"value="Pie">Pie</md-radio-button>
          </md-radio-group>
        </div>
      </md-card>


      <br>
      <md-card>
        <div layout="row">
          <div layout="column" id="chartdiv" g-chart flex></div>
        </div>
      </md-card>
    </div>

    <br>

    <md-card>
      <div id="sectorButton" layout="row" layout-align="center center">
        <md-button class="" ng-click="ul.decParams()" aria-label="Profile">
              <md-icon md-svg-src="./assets/svg/ic_chevron_left_24px.svg"></md-icon>
        </md-button>

        <div id="sector">{{ul.sector}}</div>

        <md-button class="" ng-click="ul.incParams()" aria-label="Profile">
              <md-icon md-svg-src="./assets/svg/ic_chevron_right_24px.svg"></md-icon>
        </md-button>
      </div>
    </md-card>







    <md-button class="share" md-no-ink ng-click="ul.share($event)" aria-label="Share">
      <md-icon md-svg-icon="share"></md-icon>
    </md-button>
  </md-content>
</div>
